{% extends "marvel_app/base.html" %}
{% load static %}
{% block title %}{{ 'Login Page' }}{% endblock %}

{% block block_main%}


    <section class="text-center">
        <div class="container">
          <h2>Please, login to continue</h2>
            <p>
              <form action='' method='post'>{% csrf_token %}
            <div class = "container left-1">
                  <label for="username">Your Username:</label>
                  <input type="text" name="username" value="" id="username">
            </div>
            <div class = "container right-1">
                  <label for="password">Password:</label>
                  <input type="password" name="password" value="" id="password">
                  <input type="submit" class="submit_btn btn" value="Let Me In" />
                </div>
                  <input type="hidden" name="next" value="{{ next|escape }}" />
              </form>
            </p>
          <p class="lead text-muted">
        </div>
    </section>
{% if form.errors %}
    <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
  {% endif %}
{% endblock %}