{% extends 'marvel_app/base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %}{{ 'Search Page' }}{% endblock %}

{% block block_main %}
<section class="text-center">
        <div class="container">
          <h2>Search page</h2>
          <p class="lead text-muted">
              Dear {% if user.first_name %}
              {{ user.first_name }}
              {% else %}
              Visitor,
              {% endif %}please, enter the title of a comic.</p>
        </div>
  <form action="">
    <div class="input-group col-xs-8 col-xs-offset-2">
      <input type="text" class="form-control" placeholder="Search" name="q">
      <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span> Search
          </button>
      </div>
    </div>
  </form>
</section>

{#container for two columns#}
{% for obj in objs %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h4><b><a data-toggle="collapse" href="#{{ obj }}.collapse" style="color: #393939">{{ obj.title }}</a></b></h4>
                <div class="row">
                    <div class="col-sm-6">
{#                        left column#}
                        <div class="thumbnail">
                            <a href="{{obj.image_ref}}" target="_blank">
                          <img src="{{ obj.image_ref }}" alt="Nature" style="width:100%">
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6">
{#                        right column#}
                        <form action="" method="post">{% csrf_token %}
                            <input type="hidden" name="title" value="{{obj.title}}">
                            <input type="hidden" name="external_id" value="{{obj.external_id}}">
                            <input type="hidden" name="date_on_sale" value="{{obj.date_on_sale}}">
                            <input type="hidden" name="image_ref" value="{{obj.image_ref}}">
                            <input type="submit" class="submit_btn btn" value="Add to collection"/>
                        </form>

                        <h5><p><b>Date on sale:</b> {{ obj.date_on_sale }}</p>
                            {% if obj.ean %}
                                <p><b>EAN:</b> {{ obj.ean }}</p>
                                {% else %}<p><b>EAN:</b> not available</p>
                            {% endif %}

{#                            {% if var.var_id == obj.external_id %}#}
{#                            <b>Comic variants:</b> {{ obj.variant }}#}
{#                            {% endif %}#}
                        </h5>

                    <div id="{{ obj }}.collapse" class="panel-collapse collapse">
                          <div class="panel-body" align="left">
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="thumbnail">
                                      <a href="{{obj.image_ref}}" target="_blank">
                                          <img src="{{obj.image_ref}}" alt="Nature" style="width:100%">
                                      </a>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="thumbnail">
                                      <a href="{{obj.image_ref}}" target="_blank">
                                          <img src="{{obj.image_ref}}" alt="Nature" style="width:100%">
                                      </a>
                                  </div>
                              </div>
                              <div class="col-md-4" >
                                  <div class="thumbnail">
                                      <a href="{{obj.image_ref}}" target="_blank">
                                          <img src="{{obj.image_ref}}" alt="Nature" style="width:100%">
                                      </a>
                                  </div>
                              </div>
                          </div>
                              <h5><b>Comic title:</b> {{ obj.title}}
                                  <p><b>Date on sale:</b> {{ obj.date_on_sale }}</p>

{#                            {% if var.var_id == obj.external_id %}#}
{#                            <b>Comic variants:</b> {{ obj.variant }}#}
{#                            {% endif %}#}
                                  {% if obj.com_descr %}
                                      <b>Short description:</b><p class="justify">{{ obj.com_descr }}</p>
                                  {% endif %}</h5>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}